.row.more-features
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Features
    %ul
      %li
        %b Multi-platform:
        you can execute builds on Unix, Windows, macOS, and any other platform that supports Go.
      %li
        %b Multi-language:
        build scripts are command line driven and work with Java, PHP, Ruby, C, and any other language.
      %li
        %b Stable:
        your builds run on a different machine than GitLab.
      %li
        %b Parallel builds:
        GitLab CI/CD splits builds over multiple machines, for fast execution.
      %li
        %b Realtime logging:
        a link in the merge request takes you to the current build log that updates dynamically.
      %li
        %b Versioned tests:
        a
        %a{href: "https://docs.gitlab.com/ee/ci/yaml/"} .gitlab-ci.yml file
        that contains your tests, allowing everyone to contribute changes and ensuring every branch gets the tests it needs.
      %li
        %b Pipeline:
        you can define multiple jobs per stage and you can
        = succeed "." do
          %a{href: "https://docs.gitlab.com/ee/ci/triggers/"} trigger other builds
      %li
        %b Autoscaling:
        you can
        = link_to "automatically spin up and down VM's", "/blog/2016/03/29/gitlab-runner-1-1-released/"
        to make sure your builds get processed immediately and minimize costs.
      %li
        %b Build artifacts:
        you can upload binaries and other
        %a{href: "https://docs.gitlab.com/ee/ci/build_artifacts/"} build artifacts
        to GitLab and browse and download them.
      %li
        %b Test locally
        there are
        %a{href: "https://docs.gitlab.com/runner/executors/"} multiple executors
        and you can
        = succeed "." do
          %a{href: "https://gitlab.com/gitlab-org/gitlab-runner/issues/312"} reproduce tests locally
      %li
        %b Docker support:
        you can use custom Docker images, spin up
        %a{href: "https://docs.gitlab.com/ee/ci/services/"} services
        as part of testing,
        = succeed "," do
          %a{href: "https://docs.gitlab.com/ee/ci/docker/using_docker_build.html"} build new Docker images
        even run on Kubernetes.
    .text-center
      %a.btn.cta-btn.accent{ href: "https://gitlab.com/groups/gitlab-org/-/epics/494" } Strategy
      %a.btn.cta-btn.white-with-border{ href: "https://docs.gitlab.com/ee/ci/", :style => "margin-left: 20px" } Documentation
  .col-xs-1.col-md-1
%hr.divider/
