- if topic.cta_banner != nil
  %hr.u-margin-top-sm.u-margin-bottom-sm
  .row.topic-body
    .col-md-1
    .col-md-10
      .cta-banner
        / For each article in the CTA banner
        - topic.cta_banner.each do |article|
          %h2
            = article.title
          / If a subtitle is included, do this
          - if article.subtitle != nil  
            %h3.u-margin-top-m
              = article.subtitle
          / Include body of CTA block, required
          = kramdown(article.body)
          / If the article as CTA buttons, build then
          - if article.cta != nil
            - article.cta.each do |button|
              - url = button.url
              %a.btn.cta-btn.lavender{:href => "#{url}"}
                = button.text
-# CSS For Component
:sass
  .cta-btn.lavender
    width: unset