.row.topic-header.u-padding-top-md
  - if topic.related_content != nil
    .col-md-8
      %h1
        = topic.title
      
      = kramdown(topic.header_body)
  - else 
    .col-md-6
      %h1
        = topic.title
    .col-md-6
      = kramdown(topic.header_body)
      
  - if topic.related_content != nil
    .col-md-4
      %h4
        Related Content

      - topic.related_content.each do |article|
        %a{ href: "#{article.url}" }
          %p
            = article.title
